html,
body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

div.cursor-pointer:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}